* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: .5px solid red;
    font: 62.5%;
}

.navbar {
    display: flex;
    background-color: #1F2937;
    text-decoration: none;
    justify-content: space-between;
}

.left-nav-list a {
    display: flex;
    color: aqua;   
    list-style: none;
    text-decoration: none;
    font-size: 40px;
}

.right-nav-list {
    display: flex;
    margin: 5px;
    

}
.right-nav-list a {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #e5e7eb;
}

